<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
    <!--<p></p>-->
   	<a href="https://bitly.com/">Shorten more links?</a>
   	<ul>
   		<% urls.forEach(function(urlDoc) { %>
   			
   			<li><a href="/urls/u/<%=urlDoc.shortURL%>/edit"><%=urlDoc.shortURL%></li>
   			<br/>
   			<br/>
   				<span>
   					<!--<form method="POST" action="/urls/<%=urlDoc.shortURL%>?_method=PUT">
   						<button type="submit">Edit</button>
   					</form> -->
   					<a href="urls_index" type="button">
  					<form method="POST" action="/urls/<%=urlDoc.shortURL%>?_method=DELETE">
  						<button type="submit">Delete?</button>
  					</form>
  				</span>
   			<br/>
   		<% }); %>
   		
   	</ul>
</body>
</html>