<!DOCTYPE html>
<html lang="en">
<body>
   	<a href="/urls/new">Create new URLs?</a>
   	<ul>
   		<% urls.forEach(function(urlDoc) { %>
   			<li><a href="/urls/<%=urlDoc.shortURL%>/edit"><%=urlDoc.longURL%></li>
   			<br/>
   			<br/>
 				<span>
 					<a href="urls_index" type="button">
					<form method="POST" action="/urls/<%= urlDoc.shortURL %>?_method=DELETE">
						<button type="submit">Delete?</button>
					</form>
				</span>
   			<br/>
   		<% }); %>
   	</ul>
</body>
</html>